.background1 {
	background: url(images/background_first.png) no-repeat 50% 0%;
	background-size: cover;
	padding-top: 296px;
	padding-bottom: 234px;
	max-height: 700px;
}


.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: rgba(255, 255, 255, 0.1);
	text-align: center;
}

.logo1 {
	padding-top: 15px;
	padding-bottom: 15px;
}


.Dreammaker {
	font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 26px;
color: #505050;
padding-top: 5px;

}

.ul.hr {
    padding: 4px; 
    margin-top: -40px;
   }
   ul.hr li {
    display: inline; 
    margin-right: 5px;  
    padding: 6px; 
}


.text {
	display: block;
	font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
color: #717784;
text-align: center;
cursor: pointer;
margin-top: -70px;
}


.button1 {
	display: inline-block;
 	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 27px;
	text-align: center;
	padding-left:5px;	
	letter-spacing: 1.5px;
	color: #FFFFFF;
	background: #9B9BCA;
	border-radius: 10px;
	padding:15px 50px 15px 50px;
	cursor: pointer;
	margin-left: 650px;
}


.button1:hover {
	text-decoration: none;
	color: black;
}

.your {
	font-family: DM Serif Display;
font-style: normal;
font-weight: normal;
font-size: 56px;
line-height: 100%;
color: #696A86;
}



.permit {
	font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 27px;
color: #696A86;
padding-top: 20px;
}



.started {
	display: inline-block;
 	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 27px;
	text-align: center;
	padding-left:5px;	
	letter-spacing: 1.5px;
	color: #FFFFFF;
	background: #9B9BCA;
	border-radius: 10px;
	padding:15px 50px 15px 50px;
	cursor: pointer;
	margin-top: 20px
}


.started:hover {
	text-decoration: none;
	color:pink;
}



.layer2 {
	margin-top: 100px;
}

.provide {
	font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 26px;
line-height: 39px;
padding-top: 100px;
color: #626780;
text-align: center;
}


.traffic {
	font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 18px;
text-align: center;
color: #626780;
}



.pad_top_140 {
	padding-top: 140px
}



.design {
	
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 40px;
color: #626780;
text-align: center;
padding-top: 10px;
}



.disign2 {
	font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
text-align: center;
color: #626780;
}



.man {
	font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 40px;
color: #626780;
text-align: center;
padding-top: 10px;
}


.man2 {
	font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
text-align: center;
color: #626780;
}


.box {
	font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 40px;
color: #626780;
text-align: center;
padding-top: 10px;
}


.box2 {
	font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
text-align: center;
color: #626780;
}



.blog {
	font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 40px;
color: #626780;
text-align: center;
padding-top: 10px;
}


.blog2 {
	font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
text-align: center;
color: #626780;
}


.col1 {
	padding-left: 90px;
}

.col2 {
	padding-left: 90px;
}

.col3 {
	padding-left: 90px;
}

.col4 {
	padding-left: 90px;
}

.col1:hover {

	border: 1px solid #9D9D9D;
	box-sizing: border-box;
	border-radius: 5px;
	padding: 20px;
	cursor: pointer;
}


.col2:hover {
	border: 1px solid #9D9D9D;
	box-sizing: border-box;
	border-radius: 5px;
	padding: 20px;
	cursor: pointer;
}

.col3:hover {
	border: 1px solid #9D9D9D;
	box-sizing: border-box;
	border-radius: 5px;
	padding: 20px;
	cursor: pointer;
}

.col4:hover {
	border: 1px solid #9D9D9D;
	box-sizing: border-box;
	border-radius: 5px;
	padding: 20px;
	cursor: pointer;
}


.lirycs {
	padding-top: 250px;
}


.text1 {
	font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 26px;
line-height: 39px;
color: #626780;
}


.text2 {
	padding-top: 20px;
	font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 30px;
color: #626780;
}


.expand {
	padding-top: 200px;

}


.expand2 {
	font-family: PT Serif;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 140%;
color: #402B2B;
}


.video {
	box-sizing: border-box;
}


.questions {
	font-family: PT Serif;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 140%;
color: #402B2B;
padding-top: 200px;
}





.elipse {
 	position: absolute;
 	left: 0;
 	padding-top: 150px;
}



.bigman {
	position: absolute;
	padding-top: 100px;
	z-index: 3;
}



.fa-angle-right:before {
	content: "\f105";
	font-family: FontAwesome;
color: #aaaaaa;
margin-right: 10px; 
}